@import "../variables";

.posts {

    .posts-item {

        height: 500px;

        a {
            color: $black;

            &:hover,
            &:visited,
            &:focus {
                text-decoration: none;
            }
        }

        .image-container {
            height: 230px;
            overflow: hidden;

            &.icon {
                border: 5px solid $black;
                border-radius: 15px;
                padding: 40px 0;
            }
        }

        .img-responsive {
            min-width: 100%;
        }

        .read-more {
            margin-top: 15px;
            color: $white;
        }
    }
}
